<h1>Secrets</h1>
<!-- <%= session[:user_id]%> -->
<form action='/sessions' method='post'>
<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
<input type="hidden" name="_method" value="delete">
<input type="submit" value="Log Out">
</form>

<% @secrets.each do |secret| %>
<p><%= secret.content%></p>
<p>secret.user.id: <%= secret.user.id%></p>
<p>session[:user_id]: <%= session[:user_id]%></p>
<p><%= secret.likes.count%>likes</p>
<% if session[:user_id] && Like.find_by_secret_id_and_user_id(secret.id, session[:user_id])==nil%>
<form class="" action="/like" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="sid" value="<%= secret.id %>">
  <input type="submit" name="submit" value="Like">
</form>
<% end%>
<% if secret.likes.find_by_user_id(session[:user_id])%>
<form class="" action="/unlike" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="sid" value="<%= secret.id %>">
  <input type="submit" name="submit" value="Unike">
</form>
<% end%>

<% if secret.user.id == session[:user_id] %>
        <form class="" action="/secrets" method="post">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <input type="hidden" name="sid" value="<%= secret.id %>">
          <input type="hidden" name="_method" value="delete">
          <input type="submit" name="delete_secret" value="Delete">
        </form>
      <% end %>
      <hr>
    <% end %>

    <a href="/users/<%= session[:user_id]%>">Go back to your personal page</a>
